*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.box{
  display: flex;
  flex-direction: column;
}
.Header{
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color: #673AB7;
  width:100%;
  height:60px;
  line-height:60px;
  font-size:1.2em;
  color:#fff;
}
.Header a{
  text-decoration: none;
  display: flex;
  margin-right: 10px;
  color:#000;
}
.main{
  background-color:#A7FFEB;
  height:80%;
}
.posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post-card {
color: #212121;
width: 100%;
max-width: 600px;
margin: 0 auto;
margin-top: 20px;
padding: 20px;
box-shadow: 2px 3px 5px rgba(0,0,0,0.2);
}
.post-card a{
  text-decoration: none;
  color:#000;
}
.handle{
  display: flex;
  float: right;
}
.handle a {
  margin-left:10px;
  color:#000;
}

.delete{
  cursor: pointer;
  padding-left:10px;
  color:#000;
}
/* Work.js form */

.form-wrapper {
  margin: 10px auto;
  max-width: 500px;
}
form {
    padding: 20px 40px;
}
label {
    display: block;
    fontSize: .9em;
    color: rgba(0,0,0,.6);
  padding-bottom: 10px;
}
select {
  border: 1px solid #ddd;
  borderRadius: 5px;
  fontSize: 1em;
  height: 30px;
  background-color: #fff;
}
select:focus {
  outline: none;
}
.field {
  margin-bottom: 10px;
}

input {
  width: 100%;
  height: 48px;
  border: 1px solid #ddd;
  borderRadius: 5px;
  font-size: 1em;
  padding: 10px;
  box-sizing: border-box;
}
input:focus {
  border: 1px solid #00bcd4;
  outline: none;
}
.actions {
  text-align: center;
}
button {
  width: 120px;
  height: 36px;
  border: none;
  background-color: #ff4081;
  font-size: 1em;
  color: #fff;
  display: inline-block;
  margin: 20px auto 0;
  border-radius: 20px;
}
button:hover {
    cursor: pointer;
}
button:focus {
    outline: none;
}
.cancel {
  display: inline-block;
  margin-left: 15px;
  font-size: 1em;
  color: #00bcd4;
  opacity: .8;
  text-decoration: none;
}


/* Content.js */

.post-wrapper {
  position: relative;
  width: 100%;
  min-height: 200px;
  max-width: 600px;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.post-wrapper .title {
  font-size: 1.3em;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}
.post-wrapper .content {
  font-size: 1em;
  color: rgba(0,0,0,.8);
}
